.container {
  padding: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.quantityInput {
  width: 4rem;
  border: 1px solid #d1d5db;
  padding: 0.25rem;
  margin-right: 0.5rem;
}

.removeButton {
  color: #ef4444;
  margin-left: 0.5rem;
}

.total {
  font-weight: 700;
  margin-top: 1rem;
}
.buttonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание по центру */
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}

.clearButton, .checkoutButton {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 600;
  width: 200px; 
  text-align: center;
  border: none;
  cursor: pointer;
}

.clearButton {
  background-color: #ef4444;
  color: white;
}

.clearButton:hover {
  background-color: #dc2626;
}

.checkoutButton {
  background-color: #3b82f6;
  color: white;
}

.checkoutButton:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.checkoutButton:not(:disabled):hover {
  background-color: #2563eb;
}